html{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* 초기값 */
ul {list-style: none; padding: 0; margin: 0;}
p {padding: 0; margin: 0;}

/* 레이아웃 */
#container {
    width: 480px;
    margin: 0 auto;
    border: 1px solid red;

}
.innerContainer {
    width: 90%;
    margin: 0 auto;
}
.header {
    height: 50px;
    border: 1px solid red;;
}
.footer{
    height: 50px;
    border: 1px solid red;
}