html{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#scroll{
  height: 800px;
  overflow-y: auto;

}

/* 초기값 */
ul {list-style: none; padding: 0; margin: 0;}
p {padding: 0; margin: 0;}

/* 레이아웃 (width,height 가운데 정렬) */
#container {
    width: 480px;
    height: 800px;
    margin: 0 auto;
    border: 1px solid rgb(219, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerContainer {
    width: 90%;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    border: 1px solid rgb(219, 219, 219);;
}
.headerImg img{
  width: 100px;
}
.headerProfile {
  display: flex;
  justify-content: end;

}
.headerProfile div {
  display: flex;
  flex-direction: column;
}
.headerProfile img{
  width: 44px;
  height: 44px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 50%
}
.header ul {
    display: flex;
    justify-content: end;
}
.header ul li {
    margin-left: 10px;
}
.footer{
    height: 50px;
    border: 1px solid rgb(219, 219, 219);
    text-align: center;
}
