
/* myInfo */
.myInfo{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.myInfo .imgBox {
    border: 1px solid red;
    border-radius: 50%;
    width:150px;
    height: 140px;
    margin-right: 100px;
}
.myInfo .imgBox > img {
    border-radius: 50%;
    width:150px;
    height: 140px;
    margin-right: 100px;
}

/* content */
.content {
    height: 500px;
    margin: 0 auto;
}
.content ul {
    padding: 0;
}
.content ul li{
    border : 1px solid red;
    height: 450px;
    margin: 10px;
}

/* maincontent */
.mainContent .topInfo {
    display: flex;
    margin-top: 20px;
}
.mainContent .topInfo p { 
    margin-top: 5px;
    margin-left: 5px;
}
.mainContent .topImg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid red;
}
.topImg img {
    width: 100%;
    border-radius: 50%;
}
.mainContent ul li {
    margin: 10px auto;
}
.btmBox {
    border: 1px solid red;
    margin: 20px auto;
}

.btmBox ul li:nth-child(1) {
    font-size: 20px;
}
.btmBox p {padding: 20px 0;}

.btmInfo {
    display: flex;
}

/* subcontent */
.subContent ul {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.subContent ul li{
    display: flex;
    justify-content: center;
    width: 28.7%;
    height: 137.8px;
}
.subContent ul li img {
    width: 100%;
    object-fit: cover;
}
.replyBox{
    padding: 20px 0;
    margin: 20px auto;
    border: 1px solid red;
   
}
.rcontent{
    height: 130px;
    overflow-y: auto;
}