
/* myInfo */
.myInfo{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.myInfo .imgBox {
    border: 1px solid red;
    border-radius: 50%;
    width:150px;
    height: 140px;
    margin-right: 100px;
}
.myInfo .imgBox > img{
    border-radius: 50%;
    width:150px;
    height: 140px;
    margin-right: 100px;
}

/* content */
.content {
    margin: 0 auto;
}
.content ul {
    padding: 0;
}
.content ul li {
    border : 1px solid red;
    margin: 10px;
    height: 100px;
}

/* maincontent */
.mainContent .topInfo {
    display: flex;
    margin-top: 20px;
}
.mainContent .topInfo p {
    margin-top: 5px;
    margin-left: 5px;
}
.mainContent .topImg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid red;
}
.mainContent ul li {
    margin: 10px auto;
    height: 300px;
}
.btmBox {
    border: 1px solid red;
    margin: 20px auto;
}

.btmBox ul li:nth-child(1) {
    font-size: 20px;
}
.btmBox p {padding: 20px 0;}

.btmInfo {
    display: flex;
}

/* subcontent */
.subContent {
    width: 100%;
    margin: 0 auto;
}
.subContent ul{
    display: flex;
    justify-content: center;
}
.subContent ul li {
    width: 100%;
}
.replyBox{
    padding: 20px 0;
    margin: 20px auto;
    border: 1px solid red;
}